[2015-10-08 21:24] kmalakoff opened #1 "Reduce dependencies during install and distribute compiled version of the library"
Thanks for putting this together. It is working for my use case.

It is slow to install. Would you be able to distribute a pre-compiled version of your library and remove all of the dependencies in your package.json dependency sections except for Clipboard.js and React?

Here's an example of how to compile and release a universal module: https://github.com/NuCivic/react-nvd3

Thanks!

[2015-10-08 21:44] kmalakoff opened #2 "Uncaught SyntaxError: Failed to execute 'webkitMatchesSelector' on 'Element': '#7k62hl3obn0qw7b9' is not a valid selector."
It looks like the way you are generating ids sometimes runs into problems.

Why not just use a counter and something much simpler like `__react_clipboard_${counter}` ?

[2015-10-08 22:08] nihey commented on #2
You're right, that's actually a much better solution, we could add a static counter on the `ClipboardButton` component to do this.

[2015-10-08 22:13] nihey commented on #1
Sure! I was thinking about doing it (with `webpack`) after I'm done with all the issues on the component itself (and possibly adding to a CDN like [cdnjs](https://cdnjs.com/)).

I'm a little out of time this week, but I'm sure I'll be able to visit all these issues by the end of the weekend.

If you want to contribute to this project you're welcome as well - just let me know if you're doing someth

[2015-10-08 23:22] nihey opened #4 "API Changes"
I was thinking about changing the API a little bit so that a clipboard option insertion would be made easier:

Today we have:
[code]

I would change it to:

[code]

So that everything that was inside `this.props.options` would now come from `this.props['options-*']`

Anyone who's currently using this project has any issue with this?

[2015-10-09 11:26] #2 closed

[2015-10-09 17:45] kmalakoff opened #6 "Install broken"
[code]

I don't think it is a good idea to be compiling assets on release. Users of the library should get a known-to-be tested version of the library instead of something that is dynamically generated.

[2015-10-09 18:12] nihey commented on #6
You're right, I actually turned out to be a really bad idea.

I've done a temporary fix for this issue and released it on `npm`, so that `npm install react-clipboard.js` should not be broken right now.

A permanent fix for this issue, along with #1 will be released on this weekend.

[2015-10-09 18:30] nihey commented on #1
I was thinking about removing React too, leaving only Clipboard.js to be packed in the compiled bundle.

It is expected that a application that includes `react-clipboard.js` must also have React - so adding React again may cause some errors. It also leaves me out of the problem of having to specify which version of React the dependant must use (`0.13.x` or `0.14.x`) - as we are transitioning into

[2015-10-09 19:25] #6 closed

[2015-10-09 20:24] kmalakoff commented on #1
I wouldn't put anything in the compiled bundle except your library. By using webpack's UMD feature, it will handle importing React and Clipboard on window global, CommonJS, or AMD.

The reason I left them in dependencies was if someone only installs react-clipboard.js, they will also be installed. With npm 3 flattening the hierarchy and getting rid of peer dependencies, this will probably be best

[2015-10-09 20:40] nihey commented on #1
I saw it on the on the PR, that's definitely the way to go.

Yes, at least the installation time will be greatly reduced (considering that React will probably already be on the dependency tree).

I think I'll just try to update React on `package.json` to `0.14.x` and see what happens when I include it on a project using `0.13.x` - just to get rid of the `out of date` badge on `README.md`.  Probabl

[2015-10-09 20:40] #1 closed

[2015-10-10 15:33] #4 closed

[2015-10-30 13:43] timaschew opened #9 "provide type property for the button"
If I use the element which is created by the library within a form and press the copy button it triggeres a submit of my form, which is not the expected behavior.

Fix would be if the `type` can be set from the caller, like

[code]

[2015-10-30 13:52] nihey commented on #9
Nice catch, I'll be updating it shortly

[2015-10-30 14:16] #9 closed

[2015-10-30 14:18] nihey commented on #9
It should be fixed by now. @timaschew Thanks for the input, let me know if you need anything else.

[2015-10-30 14:19] timaschew commented on #9
wow, this was fast, thanks you :+1:

[2015-10-30 16:14] timaschew commented on #9
found another property, which seems to be important: `title` to provide tooltips for the button.

I'm not sure if there are some other properties which will be realized later, so maybe it can be passed more dynamically somehow?

[2015-10-30 16:39] nihey commented on #9
Probably, there will be others. I think I'll add a property set following the `button-*` pattern. This way, `button-title="foobar"` will achieve the `<button title="foobar"></button>` result. This way, I think it'll be generic enough for anything to be done.

PS: I'll keep the `type` prop option as well for backwards compatibility.

[2015-10-30 17:12] nihey commented on #9
https://github.com/nihey/react-clipboard/commit/56aafd8c5b31722ca4f6e7443e28c2b58e9c320a Should allow any button attribute adding. Documentation related to this issues has been appended to https://github.com/nihey/react-clipboard#usage .

Thanks for the feedback again, if there is anything else, just let me know :+1:

[2015-11-04 06:08] afc163 opened #10 "Why only button tag?"
Could it render other tag like span or div?

[code]

[2015-11-04 14:10] timaschew opened #11 "call destroy to cleanup"
found out that `destroy` is never called, so the event listener will never be cleaned up when unmounting the react component. This should be handled in `componentWillUnmount`

from clipboard.js docs:

clipboard.destroy();

[2015-11-04 15:56] nihey commented on #11
You're right, I'll be fixing it shortly

[2015-11-04 15:58] nihey commented on #10
Sure, I haven't thought about that when the project was conceived, it'll be added shortly

[2015-11-04 16:27] #11 closed

[2015-11-04 16:28] nihey commented on #11
It should be fixed by now. I'll be packaging it into a new release soon.

[2015-11-04 16:47] #10 closed

[2015-11-04 17:03] nihey commented on #11
I should be released on [`0.1.5`](https://github.com/nihey/react-clipboard/releases/tag/0.1.5), thanks again for the input.

[2015-11-04 17:04] nihey commented on #10
@afc163 Thank you for the input into making this component better :). This should be available on [`0.1.5`](https://github.com/nihey/react-clipboard/releases/tag/0.1.5)

[2015-11-05 02:37] afc163 commented on #10
:smile:

[2015-11-17 01:07] nihey opened #14 "Add component to cdnjs"

[2016-01-21 20:48] lachlanjc opened #15 "Bower package"

[2016-01-21 22:41] nihey commented on #15
Thanks for the feedback, it was done on https://github.com/nihey/react-clipboard/commit/1cddf6b75f703adc47ef95a825d7388b13bb0cad

[2016-01-21 22:41] #15 closed

[2016-01-21 23:02] lachlanjc commented on #15
Thanks @nihey!

[2016-01-21 23:10] olivierpichon opened #16 "Cannot run mocha tests"
Hi,

Thanks a lot for your work on `react-clipboard`!

We have an issue when running mocha tests using:
`mocha --compilers js:babel-core/register ...`

We have the following error:

[code]

This is because the main index file of the package is using ES6 syntax. Babel, by default does not try to do any transformations for node_modules packages:

http://babeljs.io/docs/usage/require/#usage

We tried

[2016-01-21 23:57] nihey commented on #16
Hello!

You're Welcome :)

Oh, just missed that, [this should be the entry point](https://github.com/nihey/react-clipboard/blob/master/dist/react-clipboard.js) on the [package.json](https://github.com/nihey/react-clipboard/blob/master/package.json#L5), thanks for reporting.

It seems this error is happening on one my dependency's dependency, [matches-selector](https://github.com/ForbesLindesay/mat

[2016-01-22 00:47] olivierpichon commented on #16
It really helped indeed @nihey!

Thanks a lot for your time and for your great work.

[2016-01-22 00:57] #16 closed

[2016-01-22 22:13] danielnass opened #17 "onError doesn't working"
I'm trying to use onError function, but doesn't work.

The onSuccess works like a charm :)

Can you help with this?

[2016-01-22 23:51] nihey commented on #17
Sweet :)

I haven't been able to reproduce this behavior. Could you provide some more info on this? (which browser you used, any logs, a code snippet).

The following snippet worked on Firefox 40 (not supported by `clipboard.js`, thus, triggering an error)
[code]

`react-clipboard.js` only uses [`clipboard.js`](https://github.com/zenorocha/clipboard.js) under the hood, binding `prop` patterns to t

[2016-01-25 15:03] danielnass commented on #17
Thanks for reply me @nihey, and sorry for this, the error was on my code, onError works well like onSuccess :tada:

I'll still watching react-clipboard for future releases :)
Best regards!

[2016-01-25 15:03] #17 closed

[2016-03-05 18:02] zdila opened #19 "propagate attributes to <button>"
Please propagate all non-ClipboardButton specific attributes to contained button. Currently I can't set eg. `title`. or `id` (which is now autogenerated). Thanks.

[2016-03-06 13:07] nihey commented on #19
`title` or `id` may be propagated by using `button-title` or `button-id`:

Any `button-*` should be propagated as the sole content, without `button-`. `button-title` -> `title`
[code]

[2016-03-14 19:29] DDChiang opened #20 "Failed propType: Required prop `value` was not specified"
I followed the documentation down to the "t" but for some reason, I'm getting this error upon basic rendering: "Warning: Failed propType: Required prop `value` was not specified in `<<anonymous>>`."

Here's my code:

    var React = require('react');
    var ClipboardButton = require('react-clipboard');

    var TestComponent = React.createClass({
      render: function() {
       return (

[2016-03-14 21:18] easilyBaffled opened #21 "Fails in Safari"
I have the Clipboard component working perfectly on the Chrome and Firefox browsers, but on Safari it fails quietly.
I've added `onError={this._handleClipboardError}` to see what was going wrong but there are no details there.

![screen shot 2016-03-14 at 1 57 09 pm](https://cloud.githubusercontent.com/assets/4247680/13759840/54572822-e9ed-11e5-96cc-92b3a9fbaa61.png)

[2016-03-14 22:09] nihey commented on #20
It seems you've got the wrong `react-clipboard` library, try downloading `react-clipboard.js` -> `npm i react-clipboard.js`.

`react-clipboard` is a library by @WickyNilliams, and it requires a `prop` named `value` (you can check it [here](https://github.com/WickyNilliams/react-clipboard/blob/master/index.js#L10))

Glad you're using it, I hope I could be of any help!

[2016-03-14 22:09] #20 closed

[2016-03-14 22:09] #19 closed

[2016-03-14 22:13] nihey commented on #21
Its seems `clipboard.js`, the main dependency of `react-clipboard.js` does not support Safari (browser support info [here](https://github.com/zenorocha/clipboard.js#browser-support))

[2016-03-14 22:22] WickyNilliams commented on #20
Yup, that will definitely cause errors with my component :)

Shame the names are so similar on npm. It might be a source of more confusion in future. I wonder if naming this repo the same as the npm package would mitigate this? Your call, of course

[2016-03-14 22:30] nihey commented on #20
Definitely, I shall do it on the near future. When I created the repo I was hoping to name the `npm` package as `react-clipboard` too, but found out it was already taken.

[2016-05-03 07:48] jseminck opened #22 "Allow option to instantiate clipboard.js by passing in HTMLElement rather than the selector String."
Clipboard.js supports an option now where we can pass in an HTMLElement in the constructor, see:

https://github.com/zenorocha/clipboard.js/blob/master/demo/constructor-node.html#L16-L19

This is useful, because in some situations we want to stopPropagation on the copy link, but in the current way of doing this it results that the event is not propagated to the clipboard.js package.

There are sev

[2016-05-03 15:01] nihey commented on #22
You're right, using a counter to create that synthetic `id` was a pretty hacky solution, but I was the best thing to do at that time.

No doubt about that, using the way that will deliver less problems and provides more features is the best thing to do.

@jseminck That is a very nice contribution, would you be willing to submit a pull request from your repository? Giving a first look at it, I saw

[2016-05-03 15:18] jseminck commented on #22
I'll make the PR. I tested the change in my project and everything works fine, but I haven't tested with any of the other examples yet.

[2016-05-04 00:01] nihey commented on #22
Fixed by https://github.com/nihey/react-clipboard.js/pull/23

[2016-05-04 00:01] #22 closed

[2016-05-04 00:03] nihey commented on #20
`react-clipboard` url changed to `react-clipboard.js` in https://github.com/nihey/react-clipboard.js/commit/9f5ca71bcfba94b3910230aa1c1ab5cc66221f5c

[2016-05-04 03:44] jseminck commented on #22
Tested just now with 0.2.0 and everything is working!

Thanks for the quick response.

[2016-05-09 22:28] ewiner opened #24 "Version 0.2.0 doesn't work on React 0.13"
Looks like the library was recently changed to use `refs.element`.  In React 0.13, you'd need to call `refs.element.getDOMNode()`.  I think it's fine to not support old React versions, but you should probably update the `peerDependencies` in `package.json` accordingly.

[2016-05-09 23:15] nihey commented on #24
You're right, I'll do a minor release today that should be able to support 0.13.

Thanks for reporting.

[2016-05-10 00:10] #24 closed

[2016-07-18 15:56] zdila opened #25 "Make the component isomorphic"
Please make the component isomorphic. Now it can't be used for serverside rendering because it uses things like Element.

[2016-07-18 16:02] zdila commented on #25
Solution is to import `clipboard` in `componentDidMount` like this:
[code]

[2016-07-18 19:35] nihey commented on #25
Thanks for the idea

I'm not really familiar with React's server rendered components. But from what I've understood, it breaks because `clipboard` is imported on the outermost scope, causing the server, that does not have `window.Element` to break, right?

Seems like a simple change. Would you be willing to contribute? I can merge it and publish it as soon as I get home.

[2016-07-20 11:49] nihey commented on #25
Thanks for the contribution @zdila

The latest release (0.2.4) should have this issue fixed.

[2016-07-20 11:49] #25 closed

[2016-07-20 13:58] zdila commented on #25
I ma sorry but this was not enough. I had to also change `libraryTarget` to `commonjs2`. I've never build library so I was not aware of this. Will send another pull request.

[2016-08-08 09:04] nene opened #28 "Do not add type prop when component is not button or input"
I'd like to render the ClipboardButton as simple div, so I write:

    <CliboardButton component="div"/>

which will result in:

    <div type="button"/>

In my case this conflicts with [normalize.css](https://github.com/necolas/normalize.css/blob/master/normalize.css) which has rules like:

[code]

resulting in div rendered with a look of a button. My current workaround is to use some silly value

[2016-08-16 01:22] #28 closed

[2016-10-26 06:44] haoxins opened #30 "release 1.0.0 and follow semver"
can we release this module as `1.0.0` and follow `semver`? cc @nihey

😄

[2016-10-26 15:05] nihey commented on #30
@haoxins Sure :)

Thanks for the contributions!! (https://github.com/nihey/react-clipboard.js/pull/32, https://github.com/nihey/react-clipboard.js/pull/31)
I'll look into them as soon as possible, merge them and release `1.0.0`

[2016-10-31 06:12] haoxins commented on #30
thanks 😄

[2016-11-01 04:20] haoxins commented on #30
any update？

发自我的 iPhone

[2016-11-01 11:20] nihey commented on #30
Sorry for the delay, I'll be releasing 1.0.0 soon :)

[2016-11-01 12:10] #30 closed

[2016-11-05 05:03] hashwin opened #34 "'style' prop should be object"
Hi,

I've set this up in my project and it works well.
But I am getting some warnings that don't seem right.
[code]
Aren't inline styles usually objects?
[code]
Not sure why we would have to explicitly allow children, maybe something is disallowing it?

[2016-11-07 12:35] nihey commented on #34
You're right, inline styles are always objects, no reason to keep them as strings. I'll fix that as soon as I get home.

This was a recently sent pull request, I can test the default behavior of that and remove it if it's not necessary.

Thanks for the input.

[2016-11-15 13:04] #34 closed

[2017-01-19 13:02] bondz opened #36 "ES6 Classes example"
Can the examples be updated to use ES6 classes like [this](http://www.webpackbin.com/VJR5pUcIf)?

[2017-01-19 13:15] nihey commented on #36
Sure! Maybe I should've done them like this from the beginning.

By the end of today it shall be done.

[2017-01-19 13:31] bondz commented on #36
@nihey can you take a look at the `CustomComponent` example in the bin, we should be able to get the clipboard rendered like that.

[2017-01-19 13:45] nihey commented on #36
@bondz Nice, if you want and have the time, PRs are always welcome :+1:

I haven't used `styled-components` very much, but another example of it would surely be good.

[2017-01-19 14:04] bondz commented on #36
@nihey it could be any component really, `styled-components` are just ordinary components with styles, as of now, at [index.js#L9](https://github.com/nihey/react-clipboard.js/blob/master/index.js#L9) only strings are allowed.

[2017-01-20 00:46] nihey commented on #36
@bondz Alright, I'll be waiting, thanks for contributing!

[2017-01-21 21:54] nihey commented on #36
Fixed in https://github.com/nihey/react-clipboard.js/commit/8c1c380b4b9590bf63c861c7cc9c00c8c62cb464

[2017-01-21 21:54] #36 closed

[2017-01-26 10:42] bondz opened #38 "React Element as Component"
The components currently renders a button by default or lets the user specify a HTML tag as string to render.

This can be expanded to allow the component accept a React Element as the component to render. For example.

[code]

This would require that the component only renders a button and passes all props along to the component. I'm might cause breaking changes.

This is an example I'm hoping to

[2017-01-27 10:43] nihey commented on #38
I've undestood, and seeing [your changes](https://github.com/bondz/react-clipboard.js/tree/Custom-Components) it most likely will. But don't bother yourself in making it backwards compatible, I can deal with that later too.

It would surely be a great contribution, and with some test infrastructure I'll be able to work on top of that to make sure the component is backwards compatible (and still do

[2017-01-27 10:52] bondz commented on #38
Great. I'll being work on cleaning up the branch and submit it as a PR.

[2017-03-15 17:02] wingrunr21 opened #40 "Bump clipboard.js dependency for newer node versions"
The version of `delegate` used by the specified version of `clipboard.js` throws an error in recent versions of node (see zenorocha/delegate#10). `clipboard.js` and its dependencies have been updated to compensate. Could you bump the version here as well?

[2017-03-16 16:30] nihey commented on #40
Sure, will do as soon as I get home today.

Thanks!

[2017-03-29 15:12] wingrunr21 commented on #40
@nihey pinging on this. would a PR be preferable?

[2017-03-29 17:13] nihey commented on #40
@wingrunr21 It surely would, It would save some time in releasing a new version of it. Sorry for the delay on this, I've been dealing with a lot of personal changes over the last month.

[2017-03-29 17:24] wingrunr21 commented on #40
No worries. I'll see if it's an easy upgrade and hopefully take a look tonight

[2017-05-19 17:47] #40 closed

[2017-05-20 19:23] nihey opened #42 "Use Webpack 3 for building"

[2017-06-26 21:14] andymac4182 opened #43 "Add option to not display button when not supported"
Clipboardjs has a method that allows you to detect if it should work. `Clipboard.isSupported()` it would be good to provide a prop that says not to render anything if it isn't supported.

What do you think @nihey ?

[2017-06-26 21:18] andymac4182 commented on #21
It appears to be supported in Safari 10+ now.

[2017-06-29 16:24] nihey commented on #21
Alright, I think it can be closed now, thanks for the input @andymac4182

[2017-06-29 16:24] #21 closed

[2017-06-29 16:26] nihey commented on #43
It could be useful, but I would try to add it only if it does not bloat the code too much. I'll look into it on the days to came. :+1:

[2017-06-29 16:27] nihey commented on #14
Not sure it would be useful anymore, I believe that most React users don't use components from a CDN, I'll keep it closed for now, if anyone thinks it should be done, please, re-open it.

[2017-06-29 16:27] #14 closed

[2017-09-03 12:14] ibc opened #44 "If component is 'a' there is no way to prevent page reload"
[code]

I need to be able to click on the button/link via "Open in new tab" (or Ctrl/Cmd + click) so it opens such a `someUrl` into a new browser tab. So I need that `component='a'`.

At the same time, if I just do a normal click on the button/link I just want the `onSuccess` to happen, but not the page reload or page navigation action. For this to happen, the internally generated `<a>` component

[2017-09-03 12:26] ibc commented on #44
Sorry, my fault. Indeed the `onClick` prop is passed to the internal element. And I can pass `button-target='_blank' `.

[2017-09-03 12:26] #44 closed

[2017-10-16 01:57] nihey opened #45 "Create a CONTRIBUTING.md file with guidelines"

[2017-10-16 18:34] marcinlichwala commented on #42
Hello @nihey, I would gladly take this one :)

[2017-10-16 18:46] nihey commented on #42
Hi @marcinlichwala ,

Sure! Go ahead!

[2017-10-16 19:09] marcinlichwala commented on #42
Hey @nihey.
I've just created this PR:
https://github.com/nihey/react-clipboard.js/pull/46

Please take a look :)

[2017-10-18 01:23] nihey commented on #42
Fixed by https://github.com/nihey/react-clipboard.js/pull/46

[2017-10-18 01:23] #42 closed

[2018-02-07 18:12] banuni opened #49 "Doesn't work inside react-jsonschema-form"
I Tried to render a button inside a form, and it did render but clicking it yielded nothing...
outside of the form it was all ok.
this is the form package:
https://github.com/mozilla-services/react-jsonschema-form

[2018-02-08 13:29] nihey commented on #49
Thanks for the input, I'll make some tests with it this weekend and should be able to fix it.

[2018-02-19 03:58] nihey commented on #49
@banuni I could not reproduce the same issue, do you have a non-working example?

I've tested this and it worked fine:

[code]

[2018-02-21 13:57] banuni commented on #49
I ended up not needing this in the product so I don't have the piece of code I had then. I'll test this code in my env and get back to you, I may have not used it right in the past...

[2018-02-21 14:10] banuni commented on #49
I don't have an actual example, since I ended up not using this lib in the project, but I was talking about a use in the form's uiSchema, somehthing like this (I actually use the jsonshcemaform a bit differently):
`import React from 'react';

import Form from 'react-jsonschema-form';
import Clipboard from 'rc.js';

const schema = {
  title: "Todo",
  type: "object",
  required: ["title"],
  proper

[2018-04-10 13:20] ArtemZag opened #50 "Upgrade to clipboard@2"
There is new version of clipboard.js library.
https://github.com/zenorocha/clipboard.js/releases/tag/v2.0.0

Probably it makes sense to upgrade also this library to use the newest version.

[2018-05-23 21:59] bambielli opened #51 "option-text propType validation?"
Hello,

Thanks for making react-clipboard.js!

I ran into a problem the other day in a project that uses react-clipboard. We are using the `option-text` `onSuccess` pattern for copying and alerting to the user that a copy occurred.

We inadvertently passed a string as our `option-text` prop instead of a function that returns a string. This caused the copy functionality to break.

Would it be possi

[2018-05-24 12:51] nihey commented on #51
Hi Brian,

Thanks for the feedback, although it could be a bit challenging, I'll try to address it on this weekend! I'll keep you updated.

Best,

[2018-05-24 13:58] bambielli commented on #51
Actually maybe it's not so hard!

https://github.com/nihey/react-clipboard.js/blob/27644c5b09ce19a5c4f79945410954956f4cb5ef/index.js#L6

Would it be possible to just define a more complicated PropTypes object for `options` on this line? That doesn't seem too bad.

[2018-05-28 01:18] nihey commented on #51
[Apparently there is](https://reactjs.org/docs/typechecking-with-proptypes.html#proptypes), it seems like I can use a function to validate custom props, I'll give it a try and should be able to come up with a solution for it.

[2018-05-28 13:10] nihey commented on #50
It does make sense to make a `react-clipboard.js@2` too, I'll do it today, thanks for the heads up.

[2018-05-28 13:38] #51 closed

[2018-05-28 13:48] #50 closed

[2018-06-07 10:03] ibc opened #52 "2.0.0: Error: Cannot find module './clipboard-action'"
I upgraded react-clipboard.js from 1.1.3 to 2.0.0. When running browserify on my project now I get this error:

[code]

Indeed, `node_modules/clipboard/dist` just contains this:

[code]

[2018-07-26 18:35] nihey commented on #52
@ibc In order to import `clipboard-action`, I believe you would need to use `clipboard` dependency, which [contains it](https://github.com/zenorocha/clipboard.js/search?q=clipboard-action&unscoped_q=clipboard-action).

[2018-07-26 18:36] #52 closed

[2018-08-01 11:36] LennyLip opened #53 ""Copied" tooltip"
Hi, thanks for the application!
How can I show tooltip after copy value?
![copied](https://user-images.githubusercontent.com/955994/43519496-5020284a-9598-11e8-840c-1a38c1970dd5.png)

[2018-08-09 12:39] Sunshine168 commented on #38
hello any news of this feat?

[2018-08-21 00:31] nihey commented on #38
@Sunshine168 This was implemented, but this issue was no properly closed, thanks for remembering: I just need to add it to the documentation. https://github.com/nihey/react-clipboard.js/blob/master/index.js#L98

You can use this feature exactly as stated:

[code]

[2018-08-21 00:31] #38 closed

[2018-09-16 13:47] veeramarni opened #54 "Looks like the Clipboard name changed to ClipboardJS"
In the following code, it need to be changed to `ClipboardJS` as it was changed in [here](https://github.com/zenorocha/clipboard.js/releases/tag/v2.0.0)

https://github.com/nihey/react-clipboard.js/blob/53d1167ec476992304d4f767f79ec6b86d206f2f/webpack.config.js#L21

Due to it I'm getting following error. Unfortunately, this error won't be seen until we bundle with latest webpack `(4.19.0)` otherwi

[2018-09-16 19:29] nihey commented on #54
@veeramarni Thanks for the changed, I believe that with your PR (https://github.com/nihey/react-clipboard.js/pull/55) this issue should be solved. I will publish it soon.

[2018-09-16 19:29] #54 closed

[2018-09-26 10:13] maximerabot opened #56 "Add class on success"
Hi,

I would like to add a specific className on success. How can I do this?

Thanks,
Maxime

[2018-11-07 21:27] DecathectZero opened #58 "Add ID attribute"
I've been trying to get a Bootstrap tooltip working with the clipboard component but there's no way for me to do ids at the moment

[2018-11-28 16:51] nihey commented on #58
@DecathectZero Sorry for the delay!

For default `html` attributes like Id, there should be a way to input them on the DOM via `button-*` props. Could you try using `button-id="<your id>"` and see if it is passed to the DOM?

[2018-11-28 16:54] nihey commented on #56
@maximerabot This would probably be handled on the outer component of `react-clipboard`, a logic like this should solve it (untested):

[code]

[2018-11-28 16:55] #56 closed

[2018-11-28 19:56] 1RM commented on #53
@nihey 2nd.  How do we do this?

[2018-11-29 06:30] LennyLip commented on #53
Hi, @1RM , my version

[code]

[2019-01-08 19:06] pierreTklein opened #59 "Add typescript definition"
Hi,

I was hoping to use this with my Typescript project, but I noticed that `@types/react-clipboard.js` doesn't exist. Having a type definition would be super useful!

[2019-01-08 19:15] nihey commented on #59
Hi @pierreTklein

I understand the issue, but I'm not very proficient in `TypeScript` and I'm in a bit of a lack of time lately, would be interested in contributing to add a `@types/react-clipboard.js` file to this repo? I would gladly receive a Pull Request for this.

[2019-02-05 13:48] briefguo commented on #59
Hi @nihey

#60

[2019-02-05 13:59] briefguo commented on #38
Something about  prop-types need to upgrade as well,  otherwise

[code]

[2019-02-07 15:27] dzienisz opened #61 "Module not found: Error: Can't resolve 'react-clipboard.js'"
![zrzut ekranu 2019-02-7 o 16 12 41](https://user-images.githubusercontent.com/3521624/52420896-3cface00-2af3-11e9-979a-38102cbbfabf.png)

Hey I can't build my app. Do you know what's wrong?

[2019-02-07 15:29] #61 closed

[2019-02-10 02:57] nihey commented on #59
@briefguo,

Thanks for the Pull Request, I should deploy it by this Sunday!

[2019-02-10 02:57] #59 closed

[2019-02-12 15:16] kveerapen opened #62 "react-clipboard.js using deprecated dependency"
https://www.npmjs.com/package/babel-preset-es2015

It seems like the babel-preset-2015 dependency has been deprecated. Can you update this please?

[2019-02-12 17:17] nihey commented on #62
@kveerapen Yes, I'll do it probably today or tomorrow, thanks for reporting the issue.

[2019-02-12 17:35] #58 closed

[2019-02-17 22:00] #62 closed

[2019-02-27 21:30] hobri opened #65 "I don't get the functionality"
Forgive me if I'm missing something here, but based on the examples, you're not actually copying the element -- you're copying some text defined in a JavaScript object, correct? I think it's misleading to name this after clipboard.js, as one of the features of that was the ability to copy the content of actual DOM elements (including HTML that didn't need to be escaped). It supported rich-text cop

[2019-03-05 02:20] devinhalladay commented on #53
For anyone that doesn't want to use `react-bootstrap`, here's my roll-your-own solution:

[code]

[2019-03-05 15:05] LennyLip opened #66 "react-clipboard.js@2.0.4 issues"
First of all:
react-clipboard.js
and
react-clipboard.min.js
are minified both.
3266 bytes.
And I get an error with minified version (using webpack)

[code]

[2019-03-05 15:38] nihey commented on #66
@LennyLip Thanks for reporting, I'll investigate this immeadiately

[2019-03-05 15:59] #66 closed

[2019-03-05 16:05] nihey commented on #66
@LennyLip I've just fixed it and released `2.0.5`, could you try out with this version? It should fix it.

As I've seen, this issue may be felt anyone who does not use Babel on development, with the latest change, I've made it so `react-clipboard.js` babel conversion supports more browsers.

The `dist/react-clipboard.js` file being minified issue is now fixed too.

[2019-03-07 12:59] nihey commented on #65
@hobri This component is named after [clipboard.js](https://clipboardjs.com/) because it wraps all of its features inside a React component, even copying content of other DOM elements (even the ones that were not build using React).

For instance, you could copy the content of a element with `foo` id anywhere in your DOM by using:

[code]

I can also build some more examples and insert them on the

[2019-03-08 03:52] JeSuis opened #68 "Usage in modal"
I'm having the usual problem of this not working in a modal.
I tried the recommended solution of `option-container` as noted in the advanced usage, but can't get that to work.

https://clipboardjs.com/#advanced-usage

I'm specially using material ui rather the the bootstrap modal but it should be the same fix.

[2019-03-08 15:04] JeSuis commented on #68
I resolved this, if you're using Material UI, you need to use PaperProps and set the ID on that and not the Dialogue

[2019-03-08 21:06] JeSuis commented on #68
Note the main problem here seems to be with not being able to get the element when needed unless you want to wrap it in a setTimeout which is ugly

[2019-03-09 12:15] garthenweb opened #69 "SSR: ReferenceError: window is not defined"
I get an error on server side rendering after updating from v2.0.3 to v2.0.5:

[code]

Using NodeJS v10.14.2

[2019-03-11 15:50] paintedbicycle commented on #69
Running into this with next.js

[2019-03-11 21:19] nihey commented on #69
@garthenweb Thanks for reporting, I'll investigate it this week. It may be related to the new webpack config.

[2019-03-12 11:42] #69 closed

[2019-03-12 11:44] nihey commented on #69
@garthenweb @paintedbicycle , Could you try it on `2.0.6` to see if this is resolved? I've made some changes on `webpack` config that should solve the issue. If it is not fixed, you can re-open it here!

[2019-03-12 23:16] garthenweb commented on #69
Works like a charm for me, thank you for the fast fix!

[2019-03-18 00:48] azizur opened #70 "When using Custom HTML tag it should not care about children supplied to ClipboardButton"
When using Custom HTML tag it should not care about children supplied to  `ClipboardButton`.

I am trying to create a `Clipboard` component like this:
[code]
I am getting this error:
[code]

[2019-03-18 23:34] nihey commented on #70
@azizur Thanks for reporting, this may be caused by this PR, that is not yet deployed: https://github.com/nihey/react-clipboard.js/pull/67

I'll deploy it now, after that, could you try out to see if this still happens?

[2019-03-18 23:40] nihey commented on #70
Done, `2.0.7` is out, could you try out and see if this issue continues?

[2019-04-09 19:02] foysalit commented on #70
Hey @nihey I'm using 2.0.7 and still seeing this issue. here's how my code looks:
[code]

And I'm getting this warning in the console:
[code]
any chance of fixing this? let me know if I can help.

[2019-04-09 21:36] nihey commented on #70
@foysalit Thanks for reporting, I'll investigate this issue by this week and should give a proper answer for it.

[2019-04-27 17:20] chenjigeng opened #71 "How to render my content?"
I want to render my content And don't want it wrapped on a button or input.
I just want the ability of copy.
Can we do this by a props attribute?

[2019-04-28 14:04] #71 closed

[2019-05-24 16:43] shrugs opened #72 "unsafe-eval in react-clipboard.js"
the compiled output uses `eval`, which throws against a CSP that forbids eval.

probably related to https://github.com/webpack/webpack/issues/6461

[code]

[2019-05-30 16:58] alyssa1995 commented on #53
is there any way to do this for a list of texts to copy? I can't depend on state because when I click copy, the tooltip showed up for every single item in the list, instead of just the one i copied

[2019-06-01 09:37] uyouthe commented on #70
Me too.

[2019-06-02 22:58] nihey commented on #70
@uyouthe Your change should have fixed it on `2.0.8`, could you confirm it? If it does not fix it, you can re-open this issue so we can investigate it a little further.

[2019-06-02 22:58] #70 closed

[2019-06-02 23:09] nihey commented on #72
@shrugs Thanks for reporting `2.0.9` should have this issue fixes. It turned out that source maps for the development build were adding a `eval` on it.

[2019-06-02 23:09] #72 closed

[2019-06-02 23:10] nihey commented on #68
@JeSuis could you provide a code snippet example for this problem? We can try to work on a solution based on that.

[2019-06-04 11:36] uyouthe opened #74 "Something related to custom components is messed up"
When supplying custom component as a `component` prop, there are some errors:
[code]

My code:
[code]

[2019-06-04 11:36] uyouthe commented on #70
@nihey #74

[2019-06-04 14:08] nihey commented on #74
@uyouthe I'm investigating the issue, it seems that is related to not using `react-dom` when extracting the DOM Node of the custom component. I've did a little refactor and should fix it soon.

Just a reminder too in case this happen again: Stateless/Functional components are not yet supported as custom components. Wrapping it in a Stateful/Class should work just fine after `2.0.10`

[2019-06-04 14:09] #74 closed

[2019-06-04 15:09] jonrandahl commented on #53
@alyssa1995,
If you're referencing @devinhalladay's option then I would add the paragraph tag outside of the list to keep it as a single instance - then, while clicking on each item of your list you would only have one message to show?

Otherwise, like @LennyLip's example, you will need to look at implementing something like the reactstrap unmanaged [Popover](https://reactstrap.github.io/component

[2019-06-04 15:12] uyouthe commented on #74
@nihey maybe make an auto-wrapping to stateful component as far as statefulness there doesn't serve any purpose other than satisfying React?

[2019-06-04 21:48] nihey commented on #74
@uyouthe That's an excellent idea, I'll register it as an issue to be developed soon.

[2019-06-04 21:51] nihey opened #75 "Support Stateless custom components"
This could be done by wrapping the custom component in a stateful component. (Suggestion by @uyouthe)

[2019-06-05 15:11] uyouthe commented on #75
This is my code:
[code]

This fails miserably:
[code]

I'm using the latest version of your library.

[2019-06-05 15:16] uyouthe commented on #75
@nihey I strongly suggest you not to control `children`. Let them be `PropTypes.any`.

[2019-06-05 17:50] nihey commented on #75
@uyouthe I believe it was actually caused by specifying the `propTypes` of `component`. I've just made a release changing that (`2.0.11`), it should work sucessfully.

[2019-06-05 17:57] uyouthe commented on #75
@nihey checked this out. I'm still getting this error
[code]
no matter stateless or stateful `component` I pass.

[2019-06-05 18:01] nihey commented on #75
@uyouthe I've just updated to use `propTypes.any` on `children` too on `2.0.12`, could you try it out?

[2019-06-05 18:11] uyouthe commented on #75
It works. Great job so far.

Now you clearly can see how much of unusual complexity do PropTypes offer. Please, don't use some tool just because "it's a de-facto standard" or because "everyone use this, it's a best practice to use this".

Please, consider tooling responsibly. I'd once launched a cluster Docker/CouchDB/ClojureScript startup without a single type-checking tool or even a single line

[2019-06-05 18:39] nihey commented on #75
It clearly does, one thing that I should eventually implement are the unit and/or e2e tests. Even though I maintain the library, I do not use all of its features, so not all of it is tested on every release :/.

Maybe adding some unit tests to cover most of the documented features could improve the quality assurance of each new version.

[2019-06-05 18:42] uyouthe commented on #75
I personally think that you need neither unit tests nor proptypes. Consider investing time in decent specs.

[2019-06-12 06:41] guonanci opened #76 "How to make option-text derive from async/await"
Hello, I need help
[code]
Code above doesnt work, why and how to make it works

[2019-06-12 14:40] nihey commented on #76
Hi,

Do you have additional information on this problem? Some traceback that is generated or any warning?

[2019-06-13 01:27] guonanci commented on #76
In my clipboard, is `[object Promise]`
and no other information.

[2019-06-21 09:39] ujovlado opened #77 "BC break in 2.0.10"
https://github.com/nihey/react-clipboard.js/blob/3f40a8ae59b8efe4b71c031dc58b433f8a2380ab/index.js#L6

Create ref is available since react 16.3:

https://reactjs.org/docs/refs-and-the-dom.html

[2019-06-23 19:03] nihey commented on #77
That's a good observation, I'll replace the current code with a more backwards compatible one, release, then do another release with these `16.3` refactor (or maybe a straight `16.8` hook refactor).

[2019-06-23 19:08] #77 closed

[2019-06-28 09:36] leaveLi commented on #76
let content = await  this.getClipboardText(); If you don't wait for the result , A Promise object will be returned

[2019-06-28 11:36] guonanci commented on #76
OK, thanks very much!

[2019-07-30 13:13] n1kio commented on #71
So? How can this be done?

[2019-08-09 10:28] Radvile commented on #70
Hi, I'm having the same issue and just updated the version to the most recent. My code example and the error I get is exactly the same as the creators - not sure if there's an update here? Thanks!

[2019-08-13 04:03] git-ekuo commented on #68
@nihey , I believe this can be closed.

I am also using Modal in material-ui. https://clipboardjs.com/#advanced-usage suggests us to pass the node element of the `Modal` container to `option-container`. However, modal is not always available, thus @JeSuis 's suggestion to create the component inside `setTimeout`. The way I resolved this was by ensuring the `Modal` container is created and ready be

[2019-08-14 19:21] #68 closed

[2019-08-14 19:22] derek-adair commented on #75
I'm confused as to how I may achieve this.  In fact I can't figure out how to get anything to render at all, even in a fully connected component.

I'm a bit new to react so thats probably the issue.   Either way I tried my best to follow the examples on the readme.

[2019-08-23 15:32] nartydev commented on #61
What is the fix ?

[2019-08-23 15:34] dzienisz commented on #61
I think I was problem with npm. I apologize for not providing the solution back then.

[2019-08-23 15:39] nartydev commented on #61
Ah yes, i have found, i have forgotten to add in the package.json

[2019-09-09 13:41] #65 closed

[2019-09-09 14:37] #43 closed

[2019-10-25 13:38] #45 closed

[2019-11-14 09:27] vertic4l opened #81 "Pass JSX as component"
Any chance to pass a React Component as component prop ?

[2019-11-14 09:32] vertic4l commented on #81
Nevermind, got it...

[2019-11-14 09:32] #81 closed, assigned to nobody

[2020-05-28 15:31] johniak opened #82 "Clipoard not working in material-ui Dialog"
I created small demo in which you can see that clipboard is not copy if component is inside dialog
https://codesandbox.io/s/clipboard-material-ui-dialog-rm7kw

[2020-06-02 18:25] nihey commented on #82
Hi @johniak

Thanks for reporting this issue, I'll investigate it and fix it this week.

[2020-06-12 03:33] nihey commented on #82
@johniak I was not able to correctly pin point the exact reason for this problems, but I found out this issue might be related to the problem on the `material-ui` Dialog: https://github.com/zenorocha/clipboard.js/issues/388

I'll investigate it deeper to find a proper solution for it, but I recommend taking a look at it, it probably will have some useful information on your case.

[2020-06-23 09:08] Ofear opened #83 "IE 11 not supported (in the original clipboard it is)"
Seems that it throw security error and entering a loop reload of the page

[2020-12-18 07:10] roy2651 commented on #76
@guonanci 后面是怎么解决的，

[2021-03-18 15:41] Darwin1209 opened #84 "Not working in Safari"

[2021-11-12 13:15] ArtieReus commented on #53
Hi @LennyLip
this is how I managed to get it working:

[code]

You can find the whole file here:
https://github.com/sapcc/elektra/blob/master/plugins/lbaas2/app/javascript/app/components/shared/CopyPastePopover.js